* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #e9e9e9;
  margin: 0;
}

li:hover {
  cursor: pointer;
}

.tabs
.is-active a {
  color: white;
  background-color: #69b452;
  border-color: #dbdbdb;
  border-bottom-color: transparent !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main {
  margin: auto;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
}

.tabs ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabs li {
  display: block;
}

.tabs a {
  border: 1px solid transparent;
  border-radius: 4px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4a4a4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -1px;
  padding: .5em 1em;
  vertical-align: top;
}

.standings h1 {
  font-size: 30px;
}

.standings h1, .standings h2 {
  width: 600px;
}

button {
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #b6b6b6;
  margin-right: 2px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

button:hover {
  cursor: pointer;
}

.active {
  background-color: #69b452;
  border-color: #69b452;
  color: white;
}

.standings {
  display: none;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ececec;
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
}

.standings__home, .standings__away {
  display: none;
}

.standings td:nth-child(2) {
  padding: 0;
  padding-top: 5px;
  display: table-cell;
  vertical-align: middle;
}

.standings table td:nth-child(3) {
  text-align: left;
  padding-left: 3px;
}

.standings table td:nth-child(2) {
  padding-left: 3px;
}

img {
  text-align: center;
  height: 25px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px 0px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  min-width: 26px;
}

tr:hover {
  background-color: #e4e4e4;
}

.place {
  width: 36px;
}

.top-scorers {
  width: 600px;
  display: none;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ececec;
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
}

.top-scorers:__table td:nth-child(2) {
  text-align: left;
}

.matches {
  width: 600px;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #ececec;
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
}

.standings__total--champions-league {
  background-color: #004682;
  border-radius: 5px;
  color: white;
}

.standings__total--europa-league {
  background-color: #7f0029;
  border-radius: 5px;
  color: white;
}

.standings__total--europa-league-qual {
  background-color: #c71585;
  border-radius: 5px;
  color: white;
}

.standings__total--relegation {
  background-color: #bd0000;
  border-radius: 5px;
  color: white;
}

.standings__total--promotions {
  margin-top: 20px;
}

.standings__total--promotions div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  margin-top: 1px;
}

.standings__total--promotions .standings__total--champions-league,
.standings__total--promotions .standings__total--europa-league,
.standings__total--promotions .standings__total--europa-league-qual,
.standings__total--promotions .standings__total--relegation {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border-radius: 0;
}

select {
  width: 50px;
  font-size: 15px;
  margin-bottom: 10px;
}

.matches__table--date {
  background-color: #3772a5;
  color: white;
}

.matches__table--date td {
  padding: 5px 10px;
}

.matches__table--date td:nth-child(4) {
  text-align: right;
  padding-right: 20px;
}

.matches__table--date:hover {
  cursor: default;
  background-color: #3772a5;
}

@media (max-width: 620px) {
  .matches {
    width: 98%;
    padding: 10px 10px;
  }
  .top-scorers {
    width: 98%;
    padding: 10px 10px;
  }
  .standings {
    padding: 10px 10px;
    width: 98%;
    margin: auto;
  }
  .standings h1, .standings h2 {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .standings__total--table th:nth-child(5), .standings__total--table th:nth-child(6), .standings__total--table th:nth-child(7), .standings__away--table th:nth-child(5), .standings__away--table th:nth-child(6), .standings__away--table th:nth-child(7), .standings__home--table th:nth-child(5), .standings__home--table th:nth-child(6), .standings__home--table th:nth-child(7) {
    display: none;
  }
  .standings__total--table td:nth-child(5), .standings__total--table td:nth-child(6), .standings__total--table td:nth-child(7), .standings__away--table td:nth-child(5), .standings__away--table td:nth-child(6), .standings__away--table td:nth-child(7), .standings__home--table td:nth-child(5), .standings__home--table td:nth-child(6), .standings__home--table td:nth-child(7) {
    display: none;
  }
}

/* ATOMIC CLASSES  */
.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}
/*# sourceMappingURL=style.css.map */